html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, input, button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-size: 0.8em;
    
}
.navigasi {
    width: 100%;
    display: flex;
    height: 3em;
    align-items: center;
    justify-items: center;
    margin-bottom: 2em;
    
}
.navigasi ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}
.navigasi ul li {
    padding: 1em;
}
.navigasi img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    justify-items: center;
    box-sizing: border-box;
}
.search:last-child {
    font-size: 0.8em;
}
.search a {
    display: inline block;
    margin-left: 1em;
}
.search img {
    width: 15%;
    height: 15%;
}
.search input{
    width: 40%;
    padding: 0.8em;
    height: 1.5em;
    border-style: none;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3em;
    margin: 3em 0;
}
.search button {
    border-style: none;
    padding: 0.8em 1.5em;
    margin-bottom: 2em;
    font-size: 1.1em;
    color: rgb(54, 54, 54);
}
.search button:hover {
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    box-shadow: 0 5px 5px -2px rgb(184, 184, 184);
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.footer-nav ul li {
    display: inline-block;
    padding: 0.8em;
}
